*.pyc
db.sqlite3
*.aux
*.log

/project/templates/project/vertedor/vertedor_figura/vertedor_overlay_base_rendered.tex
project/templates/project/vertedor/vertedor_figura/vertedor_overlay_base_rendered.pdf

project\templates\project\vertedor\vertedor_calculos\vertedor_calculos_rendered.tex
project\templates\project\vertedor\vertedor_calculos\vertedor_calculos_rendered.pdf