*.pyc
db.sqlite3
# git rm -r --cached
*.aux
*.log
*vertedor_overlay_base_rendered.tex
*vertedor_overlay_base_rendered.pdf
*vertedor_calculos_rendered.tex
*vertedor_calculos_rendered.pdf
*calha_parshall_overlay_base_rendered.tex
*calha_parshall_overlay_base_rendered.pdf
*calha_parshall_calculos_rendered.tex
*calha_parshall_calculos_rendered.pdf
*.png
