{% extends "project/header.html" %}

{% block content %}
	<p> Cálculos disponíveis: </p>
    <br />

	<!-- {% include "project/includes/htmlsnippet.html" %} -->	


<form action="/inputs_bhaskara/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Calcular raizes equação do 2° grau. </button>
    </div>
</form>
<br />

<!--
<form action="/inputs_gerar_pdf/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Gerar PDF. </button>
    </div>
</form>
<br />

<form action="/inputs_triangulo/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Triângulo. </button>
    </div>
</form>
<br />
-->

<form action="/inputs_fator_de_atrito/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit" id="ok"> Fator atrito de Darcy-Weisbach </button>
    </div>
</form>
<br />

<form action="/inputs_densidade_água/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit" id="ok"> Densidade da água </button>
    </div>
</form>
<br />

<form action="/inputs_viscosidade_absoluta/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit" id="ok"> Viscosidade absoluta </button>
    </div>
</form>
<br />

<form action="/inputs_projeção_populacional/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit" id="ok"> Metodos para Projeção de Crescimento Populacional </button> 
    </div>
</form>
<br /><br />    


TRATAMENTO DE ÁGUA PARA ABASTECIMENTO
<br /><br />    

<form action="/inputs_vazões_água/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit" id="ok"> Vazões Água </button>
    </div>
</form>
<br />

<form action="/inputs_vertedor/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit" id="ok"> Vertedor </button>
    </div>
</form>
<br />

<form action="/inputs_calha_parshall/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit" id="ok"> Calha Parshall </button>
    </div>
</form>
<br />

<form action="/inputs_floculador_chicaneado/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Floculador Chicaneado </button>
    </div>
</form>
<br />

<form action="/inputs_decantador_alta_taxa/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Decantador Laminar </button>
    </div>
</form>
<br />

<form action="/inputs_filtro_rápido_descendente/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Filtro Rápido Descendente </button>
    </div>
</form>

<br /><br />    
<br /><br />    

TRATAMENTO DE ÁGUAS RESIDUÁRIAS
<br /><br />

<form action="/inputs_vazões_esgoto/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit" id="ok"> Vazões Esgoto </button>
    </div>
</form>
<br />


<form action="/inputs_tratamento_preliminar/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit" id="ok"> Tratamento Preliminar </button> 
    </div>
</form>
<br />

<form action="/inputs_decantador_dortmund/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Decantador Dortmund </button>
    </div>
</form>
<br />

<form action="/inputs_decantador_primário/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Decantador Primário </button>
    </div>
</form>
<br />

<form action="/inputs_lagoa_facultativa/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Lagoa Facultativa </button>
    </div>
</form>
<br />

<form action="/inputs_/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Lagoa Anaeróbia Lagoa Facultativa </button>
    </div>
</form>
<br />

<form action="/inputs_lagoa_de_maturação/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Lagoa de Maturação </button>
    </div>
</form>
<br />


<form action="/inputs_uasb/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> UASB </button>
    </div>
</form>
<br />


<form action="/inputs_lodos_ativados/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit"> Lodos Ativados </button>
    </div>
</form>
<br />

{% endblock %}