{% extends "project/header.html" %}

{% block content %}
	<p> Cálculos disponíveis: </p>

	<!--{% include "project/includes/htmlsnippet.html" %} -->	


<form action="/inputs_bhaskara/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit">Calcular raizes equação do 2° grau</button>
    </div>
</form>
<br />

<form action="/inputs_calha_parshall/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit">Calha Parshall</button>
    </div>
</form>
<br />

<form action="/inputs_decantador_laminar/" method="post">{% csrf_token %}
    <div class="button">
        <button type="submit">Decantador Laminar</button>
    </div>
</form>


{% endblock %}