

Por falta de um consenso entre como são os criterios para se escolher como dimensionar a calha parshall, a solução que encontei é deixar como responsabilidade do usuario escolher qual a melhor calha que será dimensionada. <br>

Por exemplo, o autor Richter considera que o produto do gradiente de mistura e o tempo de mistura juntamente com um numero de Froud maior ou igual a 2.5 são condições de bom dimensionamento. O professor Hélio parece (??) não considerar um bom dimensionamento se o numero de Froud não for maior do que 4.5. 
<br><br>
Algun parametros que pude identificar que são importantes de serem considerados: <br>
Gradiente de mistura minimo admisivel <br>
Gradiente de mistura maximo admisivel <br>
Numero de Froud minimo admisivel <br>
Produto do gradiente de mistura e o tempo de mistura num intervalo dado <br>
Altura $\mathrm{h} >$ algum valor (Atenção nesse valor, ele pode ser negativo ou muito proximo de zero)
<br /><br />

Me deparei tambem com problemas com o dominio de algumas expressões, como: <br>
Tempo de mistura negativo, <br>
Gradiente de mistura ser um numero complexo. <br><br>

Essas condições podem ser facilmente observadas dependendo do valor da garganta escolhida e da vazão adotada.
<br /><br />

Por não saber o quais dessas condições prevalecem sobre quais, optei por deixar a cargo do usuário testar cada uma das gargantas possiveis e adotar os criterios que bem entender para a escolha da calha.

<br /><br />
<br /><br />

Para o futuro: <br>
Algo que pretendo mudar no futuro é a ordem em que os calculos estão sendo escritos na pagina. Agora os calculos estão da forma que o livro do Richter faz no exemplo, mas eu não concordo com essa ordem, para mim ela dificulta o entendimento dos calculos!

Penso tambem em adicionar algo como um pseudo código para tentar ajudar o leitor a entender como os calculos são feitos. Da forma que esta hoje e necessario advinhar a ordem em que as coisas devem ser calculadas.

