{% extends "project/header.html" %}

{% block content %}

</div>
    <div align="left">
    <form action="/results_bhaskara/" method="post">{% csrf_token %}
        
        <div>
            <label for="Q">Q:</label>
            <input type="number" step=0.01 min="0" max="50" id="Q" name="Q" value="1.200" />
        </div>
        Vazão que passsará pela Calha Parshall em $\mathrm{m^{3}/s}$.
        <br /><br />

        <div>
            <label for="g"> g:</label>
            <input type="number" step=0.001 min="1" max="11" id="g" name="g" value="9.8" />
        </div>
        Aceleração da gravidade em $\mathrm{m/s}^{2}$.
        <br /><br />

        <div>
            <label for="T"> T:</label>
            <input type="number" step=0.001 min="0" max="1000" id="T" name="T" value="17.5" />
        </div>
        Temperatura em $0^{\circ}\mathrm{C}$.
        <br /><br />
        
        <div class="button">
            <button type="submit">Dimensionar Calha Parshall</button>
        </div>
    </form>
<div>


{% endblock %}